/* .GM-box1 {
    display: flex;
    width: 414px;
     width: 350px;
padding: 24px 24px 36px 24px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
background: var(--alerts-status-success, #12d18e); 
    background-color: #12d18e;
} 


 */
.iconlyboldtick-square {
    position: relative;
    width: 32px;
    height: 32px;
}
.correct {
    flex: 1;
    position: relative;
    line-height: 160%;
}
.iconlylight-outlinechat,
.iconlylight-outlinesend {
    position: relative;
    width: 28px;
    height: 28px;
    overflow: hidden;
    flex-shrink: 0;
}
.iconlylight-outlinechat {
    display: none;
}
.auto-layout-horizontal,
.auto-layout-horizontal1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-xl);
}
.auto-layout-horizontal {
    align-self: stretch;
    justify-content: flex-start;
    gap: var(--gap-base);
}
.correct-answer,
.lorem-ipsum-dolor {
    align-self: stretch;
    position: relative;
    line-height: 160%;
}
.lorem-ipsum-dolor {
    font-size: var(--body-xlarge-semibold-size);
    letter-spacing: 0.2px;
    line-height: 140%;
    font-weight: 600;
    display: none;
}
.auto-layout-vertical {
    align-self: stretch;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}
.button {
    flex: 1;
    position: relative;
    letter-spacing: 0.2px;
    line-height: 140%;
}
.typebutton-type-2primary-t {
    align-self: stretch;
    border-radius: var(--br-81xl);
    background-color: var(--others-white);
    display: flex;
    flex-direction: row;
    padding: var(--padding-lg) var(--padding-base);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--body-large-bold-size);
    color: var(--alerts-status-success);
}
.answercorrect {
    position: relative;
    background-color: var(--alerts-status-success);
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-5xl) var(--padding-5xl) var(--padding-17xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--h4-bold-size);
    color: var(--others-white);
}
