.box1 {
    display: flex;
    height: 48px;
    padding: 12px 0px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.account-box {
    flex: 1 0 0;
    color: var(--greyscale-900, #212121);
    /* H4/bold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
}

.home {
    align-self: stretch;
    color: var(--greyscale-500, #9e9e9e);
    text-align: center;
    /* body/xsmall/medium */
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
}

.mypage {
    align-self: stretch;
    color: var(--greyscale-500, #9e9e9e);
    text-align: center;
    /* body/xsmall/medium */
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 12px; */
    align-self: stretch;
}
.pimg {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 50%;
}
.text {
    align-self: stretch;
    color: var(--greyscale-900, #212121);
    text-align: center;
    /* H3/bold */
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 51.2px */
}
.text2 {
    color: var(--greyscale-800, #424242);
    text-align: center;
    /* body/large/medium */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.2px;
}
.line {
    width: 336px;
    height: 1px;
    background: #eee;
}
.protext {
    align-self: stretch;
    color: var(--greyscale-900, #212121);
    text-align: center;
    /* H5/bold */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
}

.protext2 {
    align-self: stretch;
    color: var(--greyscale-800, #424242);
    text-align: center;
    /* body/large/medium */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.2px;
}
.challenge {
    width: 38px;

    flex: 1 0 0;
    color: var(--greyscale-900, #212121);
    /* H4/bold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
}
.btn {
    color: var(--others-white, #fff);
    text-align: center;
    /* body/xlarge/bold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.2px;
    width: 162px;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 100px;
    background: var(--primary-500, #6949ff);
}

.mission {
    flex: 1 0 0;
    color: var(--greyscale-900, #212121);
    /* H4/bold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
}

.nft-card1 {
    display: flex;
    width: 336px;
    height: 405px;
    padding: 24px 24px 20px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 2px solid var(--greyscale-300, #e0e0e0);
    background: var(--others-white, #fff);
}
.t2023 {
    flex: 1 0 0;
    color: var(--greyscale-900, #212121);
    /* H4/bold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
}

.tnft {
    width: 82px;
    color: var(--greyscale-700, #616161);
    text-align: right;
    /* H5/bold */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
}

.nft {
    width: 286px;
    height: 290.13px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 286px;
    height: 290px;
}
.typing-indicator {
    z-index: 2;
    width: 200px; /* 변경된 값 */
    height: 30px;
    /* 변경된 값 */
    position: relative;
}

.typing-circle {
    width: 16px; /* 변경된 값 */
    height: 16px; /* 변경된 값 */
    position: absolute;
    border-radius: 50%;
    background-color: #9681fa;
    left: 15%;
    transform-origin: 50%;
    animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
    0% {
        top: 20px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 8px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.typing-circle:nth-child(2) {
    left: 45%;
    animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
}

.typing-shadow {
    width: 10px; /* 변경된 값 */
    height: 8px; /* 변경된 값 */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30px;
    transform-origin: 50%;
    z-index: 3;
    left: 15%;
    filter: blur(1px);
    animation: typing-shadow046 0.5s alternate infinite ease;
}
@keyframes typing-shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: 0.7;
    }

    100% {
        transform: scaleX(0.2);
        opacity: 0.4;
    }
}

.typing-shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
}
