@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

@layer base {
    html {
        @apply font-Nunito;
    }
}

@layer components {
    .btn-sample {
        @apply flex justify-center w-28 py-2 bg-red-300 rounded-lg my-2;
    }
}

.text-title {
    font-size: 44px;
    line-height: 70.4px;
    font-style: normal;
    color: #212121;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    background: rebeccapurple;
}

/* 화면 */
.iphone-container {
    width: 414px;
    height: 896px;
    /* overflow-y: auto; */
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 50px;
    /* position: relative; */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    z-index: 1;
    background: white;
}

/*  */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
body {
    margin: 0;
    line-height: normal;
}
:root {
    /* fonts */
    --body-xlarge-semibold: Nunito;

    /* font sizes */
    --body-large-bold-size: 16px;
    --body-xlarge-semibold-size: 18px;
    --h4-bold-size: 24px;

    /* Colors */
    --alerts-status-success: #12d18e;
    --others-white: #fff;
    --alerts-status-error: #f75555;
    --primary-500: #6949ff;

    /* Gaps */
    --gap-5xl: 24px;
    --gap-5xs: 8px;
    --gap-base: 16px;
    --gap-xl: 20px;

    /* Paddings */
    --padding-5xl: 24px;
    --padding-17xl: 36px;
    --padding-lg: 18px;
    --padding-base: 16px;

    /* border radiuses */
    --br-81xl: 100px;
}
